// ==========================================================================
//  NAVEGACIÓN
//  Enlaces del menú principal y sus estados.
// ==========================================================================

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.nav-link {
    font-family: $fuente-titulos;
    font-weight: $peso-medio;
    font-size: $tam-texto-nav;
    color: $color-texto-suave !important;
    @include transicion(color);

    &.active,
    &:hover {
        color: $color-primario !important;
    }
}
