// ==========================================================================
//  CAROUSEL
//  Ajustes del carousel de Bootstrap usado en la página de inicio.
// ==========================================================================

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.carousel {
    border-radius: $radio;
    overflow: hidden;
    box-shadow: $sombra-elevada;

    &-img {
        height: $alto-carousel-movil;
        object-fit: cover;

        @include desktop {
            height: $alto-carousel;
        }
    }
}
